<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add User</title>
</head>

<body>
    <h1>Create User</h1>

    Role:
    <select id="role" name="role" form="mainform">
        <option th:each="role : ${@roleManager.getRoles()}" th:value="${role.toString()}" th:text="${role.toString()}"/>
    </select>
    <form action="add_user" method="post" id="mainform">
        Username:
        <input type="text" id="username" name="username" value=""/>

        <br>

        Password:
        <input type="text" id="password" name="password" value=""/>
        <input type="submit" value="Add">
    </form>
</body>

</html>