<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                var checkLink = "check_user?username=" + $("#username").val() + "&password=" + $("#password").val();
                $.ajax({url: checkLink, success: function(result){
                    if (result == "yes") {
                        window.location.href = "show_users";
                    }
                    else if (result == "no") {
                        $("#status").html("Wrong User/Password combination");
                    }
                }});
            });
            $("input").on('input', function(){
                $("#status").html("Click 'Log In'");
            });
            $("input").keypress(function(e){
                if(e.keyCode==13)
                    $("#login").click();
        });});
    </script>
</head>

<body>
    <div style="display: table;position: absolute;height: 100%;width: 100%;">
        <div style="display: table-cell;vertical-align: middle;">
            <div style="margin-left: auto;margin-right: auto; width: 100%;" align="center">
                <img src="https://i.imgur.com/g8nBYB4.png"/>
                <br>
                Username:
                <br>
                <input type="text" id="username" value=""/>
                <br>
                Password:
                <br>
                <input type="password" id="password" value=""/>
                <br>
                <button id="login">Log In</button>
                <p id="status">Click 'Log In'</p>
            </div>
        </div>
    </div>
</body>

</html>