<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet"
      th:href="@{/resource/main.css}">
<body>
    <nav class="w3-sidenav
                 w3-light-grey w3-card-2"
         style="width:15%">
        <table>
            <tr>
                <th>Employees</th>
            </tr>
            <tr th:each="user : ${@userManager.getUsers()}">
                <td><a th:text="${user.username}" th:href="@{/tasks(user=${user.getId()})}">Name of User</a></td>
            </tr>
        </table>
        <div>
            <ul class="w3-pagination w3-border w3-round">
                <li><a href="#">&#10094; Prev</a></li>
                <li><a href="#">Next &#10095;</a></li>
            </ul>
        </div>
        <form style="margin: 5px" action="add_user" method="get">
            <input type="submit" value="Add User">
        </form>
    </nav>

    <div style="margin-left:15%">
        <header class="w3-container w3-blue">
            <h1>Tasker Project</h1>
        </header>
        <div class="w3-container">
            <h2>Employee Tasks</h2>
        </div>
        <p>Example Task Descriptions</p>
        <table>
            <tr>
                <th>Tasks</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td><a th:text="${task.getDescription()}">User Task</a></td>
            </tr>
        </table>
    </div>
</body>

</html>