<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <table>
        <tr>
            <th>Username</th>
        </tr>
        <tr th:each="user : ${@userManager.getUsers()}">
            <td th:text="${user.username}">Name of User'</td>
        </tr>
    </table>
    <form action="add_user" method="get">
        <input type="submit" value="Add User">
    </form>
</body>

</html>