<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tasker::Task Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<link rel="stylesheet"
      th:href="@{/resource/main.css}">
<body>
    <header class="w3-container w3-blue">
        <h1 th:text="${'Task #'+task.id}" style="display: inline">Current User</h1>
        <form class="header-button" action="log_out" method="get" style="margin-left:25px">
            <input type="submit" value="Log Out">
        </form>
        <form class="header-button" action="main" method="get">
            <input type="submit" value="Back To Main"/>
        </form>
    </header>
    <div class="w3-display-container w3-large" style="margin-top: 20%">
    <div class="w3-display-middle w3-padding w3-topbar w3-bottombar">
        <form class="w3-padding" action="update_task" method="post" id="taskform">
            <label><b>Task Description</b></label><br>
            <span name="taskDesc" form="taskform" th:text="${task.description}"></span><br>
            <label><b>Created By</b></label>
            <a th:href="@{/main(user=${task.assignedBy.id})}" th:text="${task.assignedBy.username}"></a><br><br>
            <label><b>Assignee</b></label>
            <a th:href="@{/main(user=${task.assignee.id})}" th:text="${task.assignee.username}"></a><br>
            <label><b>Task Status</b></label>
            <span th:text="${task.status.description}"></span><br>
            <label><b>Task Priority</b></label>
            <span th:text="${task.priority.description}"></span><br>
        </form>
        </div>
    </div>
</body>

</html>